<h1 style="text-align: center;">RoboCup @Home Leagues</h1>
<p style="text-align: center;">
  <a href="http://wiki.robocup.org/@Home_League">RoboCup Wiki</a> -
  <a href="http://robocup.rwth-aachen.de/athomewiki/index.php/Main_Page">League Wiki</a> -
  <a href="http://www.robocupathome.org/">League Website</a>
</p>