/** *******************************************************
                 Tournament CSS Stylesheed

The default CSS Stylesheet for tournaments.

Authors:
  * Stefan Glaser

******************************************************** */
@media all {
  /* line 14, src/scss/history.scss */
  div.table {
    display: table;
    /*border: 1px solid black;*/ }
  /* line 19, src/scss/history.scss */
  div.t-cap {
    display: table-caption; }
  /* line 23, src/scss/history.scss */
  div.t-cell {
    display: table-cell;
    vertical-align: top; }
  /* line 28, src/scss/history.scss */
  div.t-col {
    display: table-column; }
  /* line 32, src/scss/history.scss */
  div.t-row {
    display: table-row; }
  /* line 36, src/scss/history.scss */
  div.t-row-grp {
    display: table-row-group; }
  /* line 40, src/scss/history.scss */
  div.t-col-grp {
    display: table-column-group; }
  /* line 44, src/scss/history.scss */
  div.t-foot-grp {
    display: table-footer-group; }
  /* line 48, src/scss/history.scss */
  div.t-head-grp {
    display: table-header-group; }
  /* line 52, src/scss/history.scss */
  div.w100 {
    width: 100%; }
  /* line 53, src/scss/history.scss */
  div.w80 {
    width: 80%; }
  /* line 54, src/scss/history.scss */
  div.w75 {
    width: 75%; }
  /* line 55, src/scss/history.scss */
  div.w66 {
    width: 66%; }
  /* line 56, src/scss/history.scss */
  div.w60 {
    width: 60%; }
  /* line 57, src/scss/history.scss */
  div.w50 {
    width: 50%; }
  /* line 58, src/scss/history.scss */
  div.w40 {
    width: 40%; }
  /* line 59, src/scss/history.scss */
  div.w35 {
    width: 35%; }
  /* line 60, src/scss/history.scss */
  div.w33 {
    width: 33%; }
  /* line 61, src/scss/history.scss */
  div.w25 {
    width: 25%; }
  /* line 62, src/scss/history.scss */
  div.w20 {
    width: 20%; }
  /* line 63, src/scss/history.scss */
  div.w15 {
    width: 15%; }
  /* line 64, src/scss/history.scss */
  div.w10 {
    width: 10%; } }

@media screen {
  /* line 71, src/scss/history.scss */
  * {
    margin: 0;
    padding: 0; }
  /* line 76, src/scss/history.scss */
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #444;
    background: linear-gradient(#182, rgba(17, 136, 34, 0.2), white);
    background: linear-gradient(rgba(17, 136, 34, 0.2), white);
    background: linear-gradient(rgba(32, 64, 196, 0.2), white);
    background: linear-gradient(rgba(64, 96, 196, 0.2), white);
    background-size: 100% 600px;
    background-repeat: no-repeat; }
  /* line 90, src/scss/history.scss */
  abbr {
    cursor: help; }
  /* line 94, src/scss/history.scss */
  h1 {
    padding: 15px 0;
    font-size: 34px;
    font-weight: 300; }
  /* line 100, src/scss/history.scss */
  h2 {
    padding: 15px 0;
    font-size: 26px;
    font-weight: 300; }
  /* line 106, src/scss/history.scss */
  h3 {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 300; }
  /* line 112, src/scss/history.scss */
  h4 {
    padding: 5px 0;
    font-size: 15px;
    color: #888;
    font-weight: normal; }
  /* line 119, src/scss/history.scss */
  img.country-icon {
    border: 1px solid #ccc;
    vertical-align: middle; }
  /* line 124, src/scss/history.scss */
  table {
    border-spacing: 0; }
  /* line 128, src/scss/history.scss */
  ul {
    list-style: none; }
  /* line 132, src/scss/history.scss */
  td.label {
    text-align: right;
    vertical-align: top;
    color: #999; }
  /* line 138, src/scss/history.scss */
  div.notfound {
    padding: 25px 0;
    text-align: center;
    font-size: 14px; }
  /** ====================================================================== */
  /**  SECTIONS  =========================================================== */
  /** ====================================================================== */
  /* line 154, src/scss/history.scss */
  #top,
  #teams,
  #competitions,
  #challenges,
  #awards,
  #appendix,
  #footer {
    width: 100%; }
  /* line 164, src/scss/history.scss */
  #footer {
    border-top: 1px solid #999;
    background-color: #29a;
    background-color: rgba(64, 96, 196, 0.2);
    min-height: 200px; }
  /* line 171, src/scss/history.scss */
  div.content-box {
    margin: 0 auto;
    width: 1024px;
    box-sizing: border-box;
    background-color: white; }
  /* line 178, src/scss/history.scss */
  #teams div.content-box {
    padding: 5px; }
  /* line 182, src/scss/history.scss */
  div.section-spacer {
    height: 100px; }
  /* line 186, src/scss/history.scss */
  div.subsection-spacer {
    height: 30px; }
  /* line 190, src/scss/history.scss */
  div.match-details-box {
    margin: 80px auto 120px auto;
    width: 1024px;
    background-color: white; }
  /* line 196, src/scss/history.scss */
  div.team-details-box {
    margin: 80px auto 120px auto;
    width: 800px;
    width: 1024px;
    background-color: white; }
  /** ===========================================================  SECTIONS  */
  /** ====================================================================== */
  /**  TEAM-NAME-BOX  ====================================================== */
  /** ====================================================================== */
  /* line 224, src/scss/history.scss */
  div.team-name-box {
    display: inline-block;
    font-size: 22px;
    color: #444; }
  /* line 230, src/scss/history.scss */
  div.team-name-box a,
  div.team-name-box span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 38px; }
  /* line 240, src/scss/history.scss */
  div.team-name-box img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%); }
  /* line 247, src/scss/history.scss */
  div.team-name-box a:hover,
  div.team-details-link:hover {
    cursor: pointer;
    color: #36a; }
  /* line 253, src/scss/history.scss */
  div.team-name-box a:hover img.country-icon,
  div.team-details-link:hover img.country-icon {
    border: 1px solid #aaa; }
  /* line 259, src/scss/history.scss */
  td.right-team div.team-name-box img {
    left: auto;
    right: 0px; }
  /* line 264, src/scss/history.scss */
  td.right-team div.team-name-box a,
  td.right-team div.team-name-box span {
    padding-left: 0px;
    padding-right: 38px; }
  /** ======================================================  TEAM-NAME-BOX  */
  /** ====================================================================== */
  /**  MAIN TABLE  ========================================================= */
  /** ====================================================================== */
  /* line 279, src/scss/history.scss */
  table.main-table {
    width: 100%;
    background-color: white;
    color: #444;
    font-size: 12px; }
  /* line 286, src/scss/history.scss */
  table.main-table a {
    text-decoration: none;
    color: #444; }
  /* line 291, src/scss/history.scss */
  table.main-table a:hover {
    color: #36a; }
  /* line 295, src/scss/history.scss */
  table.main-table tr {
    position: relative; }
  /* line 299, src/scss/history.scss */
  table.main-table th {
    padding: 5px 10px 2px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    color: #999; }
  /* line 310, src/scss/history.scss */
  table.main-table td {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd; }
  /* line 316, src/scss/history.scss */
  table.main-table tr > td:first-of-type,
  table.main-table tr > th:first-of-type {
    position: static; }
  /* line 321, src/scss/history.scss */
  table.main-table tr.hover:hover {
    background-color: #eee; }
  /* line 325, src/scss/history.scss */
  table.main-table tr.expandable:hover,
  table.main-table tr.details-link:hover {
    background-color: #eee;
    cursor: pointer;
    border-bottom: 1px solid #ddd; }
  /* line 332, src/scss/history.scss */
  table.main-table div.expandable-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 40px;
    height: 10px;
    background: url("../img/expandable-arrow.svg") top left no-repeat;
    background-size: 40px 10px;
    display: none;
    z-index: 2; }
  /* line 345, src/scss/history.scss */
  table.main-table tr.expandable:hover div.expandable-arrow {
    display: block; }
  /**  RESOURCE SUBTABLE  -------------------------------------------------- */
  /* line 351, src/scss/history.scss */
  table.main-table table.resource-subtable td {
    padding: 1px 2px;
    border: none;
    height: 10px; }
  /* line 357, src/scss/history.scss */
  table.main-table table.resource-subtable td a {
    padding: 0; }
  /* line 361, src/scss/history.scss */
  table.main-table table.resource-subtable td.label {
    width: 45px;
    min-width: 45px; }
  /* line 366, src/scss/history.scss */
  table.main-table table.resource-subtable td.resource {
    width: 99%; }
  /** =========================================================  MAIN TABLE  */
  /** ====================================================================== */
  /**  TABLE HELPER  ======================================================= */
  /** ====================================================================== */
  /* line 379, src/scss/history.scss */
  table.noOuterPadding > tbody > tr > th:first-of-type,
  table.noOuterPadding > tbody > tr > td:first-of-type,
  table.noOuterPadding > tr > th:first-of-type,
  table.noOuterPadding > tr > td:first-of-type {
    padding-left: 0; }
  /* line 386, src/scss/history.scss */
  table.noOuterPadding > tbody > tr > th:last-of-type,
  table.noOuterPadding > tbody > tr > td:last-of-type,
  table.noOuterPadding > tr > th:last-of-type,
  table.noOuterPadding > tr > td:last-of-type {
    padding-right: 0; }
  /** =======================================================  TABLE HELPER  */
  /** ====================================================================== */
  /**  RANKING STAIRS TABLE  =============================================== */
  /** ====================================================================== */
  /* line 402, src/scss/history.scss */
  table.stairs {
    margin: 40px auto 0 auto;
    border: none;
    text-align: center;
    width: 100%;
    background-color: white; }
  /* line 410, src/scss/history.scss */
  table.stairs td {
    padding: 10px 0;
    width: 33%;
    border: 1px solid white; }
  /* line 416, src/scss/history.scss */
  table.stairs td.medal {
    vertical-align: bottom;
    padding: 40px 0 80px 0; }
  /* line 421, src/scss/history.scss */
  table.stairs td.medal img {
    border: none; }
  /* line 425, src/scss/history.scss */
  table.stairs td.solid {
    vertical-align: top;
    padding: 10px 0 50px 0;
    background-color: #ddd;
    font-size: 18px;
    font-weight: bold; }
  /* line 433, src/scss/history.scss */
  table.stairs td.ranking > div {
    display: inline-block;
    margin: 20px auto;
    text-align: left;
    font-size: 16px; }
  /* line 440, src/scss/history.scss */
  table.stairs div.rank {
    padding: 8px 0; }
  /* line 444, src/scss/history.scss */
  table.stairs span.rank {
    font-weight: bold;
    padding-right: 10px; }
  /** ===============================================  RANKING STAIRS TABLE  */
  /** ====================================================================== */
  /**  SIMPLE RANKING  ===================================================== */
  /** ====================================================================== */
  /* line 458, src/scss/history.scss */
  table.ranking {
    font-size: 16px;
    text-align: left;
    margin: 0 auto 30px auto;
    width: 10%; }
  /* line 465, src/scss/history.scss */
  table.ranking td {
    position: relative;
    padding: 8px 10px;
    height: 30px;
    white-space: nowrap; }
  /* line 472, src/scss/history.scss */
  table.ranking td.rank {
    width: 1%;
    text-align: right;
    font-weight: bold; }
  /** =====================================================  SIMPLE RANKING  */
  /** ====================================================================== */
  /**  PAPER ENTRY  ======================================================== */
  /** ====================================================================== */
  /* line 487, src/scss/history.scss */
  div.paper-entry {
    font-size: 12px; }
  /* line 491, src/scss/history.scss */
  div.paper-entry h5 {
    padding: 0;
    font-weight: normal;
    font-size: 16px; }
  /* line 497, src/scss/history.scss */
  div.paper-entry h6 {
    padding-top: 10px;
    font-weight: normal;
    font-size: 13px; }
  /* line 503, src/scss/history.scss */
  div.paper-entry span.by-line {
    display: block;
    margin-top: 1px;
    margin-left: 8px; }
  /* line 509, src/scss/history.scss */
  div.paper-entry p.abstract {
    padding: 5px 0;
    line-height: 1.5;
    color: #666; }
  /** ========================================================  PAPER ENTRY  */
  /** ====================================================================== */
  /**  LINEUP TABLE  ======================================================= */
  /** ====================================================================== */
  /* line 524, src/scss/history.scss */
  table.lineup-table {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left; }
  /* line 530, src/scss/history.scss */
  table.lineup-table td {
    padding: 5px 10px; }
  /* line 534, src/scss/history.scss */
  table.lineup-table td.name {
    text-transform: uppercase; }
  /* line 538, src/scss/history.scss */
  table.lineup-table td.number {
    text-align: right; }
  /* line 542, src/scss/history.scss */
  table.lineup-table .appearances {
    text-align: right; }
  /** =======================================================  LINEUP TABLE  */
  /** ====================================================================== */
  /**  EMBEDDED BOX  ======================================================= */
  /** ====================================================================== */
  /* line 555, src/scss/history.scss */
  div.embedded-box {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
    width: 640px; }
  /* line 562, src/scss/history.scss */
  div.embedded-box select {
    display: inline-block; }
  /* line 566, src/scss/history.scss */
  div.embedded-box select.video {
    width: 80%; }
  /* line 570, src/scss/history.scss */
  div.embedded-box select.stream {
    width: 20%; }
  /* line 574, src/scss/history.scss */
  div.embedded-box div.stream-frame {
    position: relative;
    width: 640px;
    height: 360px; }
  /** =======================================================  EMBEDDED BOX  */
  /** ====================================================================== */
  /**  TOP-LINK  =========================================================== */
  /** ====================================================================== */
  /* line 598, src/scss/history.scss */
  #top-link {
    display: block;
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 40px;
    height: 30px;
    z-index: 10;
    background: url("../img/top-arrow.svg") top left no-repeat;
    background-position: 5px 5px;
    background-size: 30px 20px; }
  /* line 613, src/scss/history.scss */
  #top-link:hover {
    background-position: 0 0;
    background-size: 40px 30px; }
  /** ===========================================================  TOP-LINK  */
  /** ====================================================================== */
  /**  TITLE SECTION  ====================================================== */
  /** ====================================================================== */
  /* line 627, src/scss/history.scss */
  div.title-box {
    background-color: white;
    padding: 10px 0; }
  /* line 632, src/scss/history.scss */
  div.title-box h1 {
    padding: 0; }
  /* line 636, src/scss/history.scss */
  div.title-box div.title {
    margin: 0 auto;
    width: 1024px; }
  /* line 641, src/scss/history.scss */
  h1.trn-title {
    padding-top: 5px;
    padding-bottom: 5px; }
  /* line 646, src/scss/history.scss */
  h1.trn-title a {
    font-size: 27px;
    line-height: 1.2;
    font-weight: 300;
    color: #444;
    text-decoration: none; }
  /* line 654, src/scss/history.scss */
  span.league-title {
    display: block;
    font-size: 21px; }
  /* line 659, src/scss/history.scss */
  span.trn-date {
    display: block;
    font-size: 12px; }
  /* line 664, src/scss/history.scss */
  div.title div.venue {
    max-width: 30%;
    font-weight: 300;
    vertical-align: middle; }
  /* line 670, src/scss/history.scss */
  div.title span.venue-name {
    font-size: 18px; }
  /** ======================================================  TITLE SECTION  */
  /** ====================================================================== */
  /**  PAGE NAVIGATION  ==================================================== */
  /** ====================================================================== */
  /* line 683, src/scss/history.scss */
  div.navi-wrap {
    position: relative;
    margin-bottom: 100px; }
  /* line 688, src/scss/history.scss */
  div.navi-box {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 0 50px 0;
    box-sizing: border-box;
    color: #36a;
    background-color: white;
    max-height: 50px;
    overflow: hidden;
    transition: 0.4s; }
  /* line 705, src/scss/history.scss */
  div.navi-box:hover {
    max-height: 150px;
    background-color: #5c5;
    background-color: #eee; }
  /* line 711, src/scss/history.scss */
  div.navi-box a {
    color: #36a;
    color: #148;
    font-size: 13px;
    text-decoration: none; }
  /* line 718, src/scss/history.scss */
  div.navi-box a:hover {
    color: #36a; }
  /* line 722, src/scss/history.scss */
  div.navi-box > ul {
    margin: 0 auto;
    width: 1024px; }
  /* line 727, src/scss/history.scss */
  ul.navigation > li {
    display: inline-block;
    vertical-align: top;
    width: 25%; }
  /* line 733, src/scss/history.scss */
  ul.navigation > li:hover {
    /*background-color: #eee;*/ }
  /* line 737, src/scss/history.scss */
  ul.navigation > li > ul {
    margin-left: 20px; }
  /* line 741, src/scss/history.scss */
  ul.navigation > li > ul > li {
    padding: 3px 10px; }
  /* line 745, src/scss/history.scss */
  ul.navigation > li > a {
    display: block;
    padding: 16px 16px;
    font-size: 14px; }
  /* line 752, src/scss/history.scss */
  ul.navigation > li:hover > ul {
    display: block; }
  /** ====================================================  PAGE NAVIGATION  */
  /** ====================================================================== */
  /**  FOOTER SECTION  ===================================================== */
  /** ====================================================================== */
  /* line 765, src/scss/history.scss */
  #footer div.content-box {
    margin: 20px auto 0 auto;
    background-color: transparent;
    padding-bottom: 60px; }
  /* line 771, src/scss/history.scss */
  #footer a {
    color: #444;
    text-decoration: none; }
  /* line 776, src/scss/history.scss */
  #footer a:hover {
    color: #03a; }
  /* line 781, src/scss/history.scss */
  table.tournament-details {
    width: 100%;
    font-size: 14px; }
  /* line 786, src/scss/history.scss */
  table.tournament-details td {
    padding: 3px 3px; }
  /* line 790, src/scss/history.scss */
  table.tournament-details td.spacer {
    width: 10%; }
  /* line 794, src/scss/history.scss */
  table.tournament-details td.oc span {
    color: #666;
    font-size: 16px; }
  /* line 799, src/scss/history.scss */
  table.tournament-details td.oc ul {
    margin: 3px 0 15px 15px; }
  /* line 803, src/scss/history.scss */
  table.tournament-details td.label {
    color: #666; }
  /** =====================================================  FOOTER SECTION  */
  /** ====================================================================== */
  /**  TEAMS TABLE  ======================================================== */
  /** ====================================================================== */
  /* line 828, src/scss/history.scss */
  table.team-table {
    text-align: left;
    margin-bottom: 30px;
    color: #999; }
  /* line 834, src/scss/history.scss */
  table.team-table td {
    padding: 3px 10px;
    height: 40px; }
  /* line 839, src/scss/history.scss */
  table.team-table .team {
    width: 38%; }
  /* line 843, src/scss/history.scss */
  table.team-table .team div.team-name-box {
    display: block; }
  /* line 847, src/scss/history.scss */
  table.team-table .contact {
    width: 16%; }
  /* line 851, src/scss/history.scss */
  table.team-table .qualification {
    width: 35%; }
  /* line 855, src/scss/history.scss */
  table.team-table .status {
    width: 11%; }
  /** ========================================================  TEAMS TABLE  */
  /** ====================================================================== */
  /**  MATCHES-LIST TABLE  ================================================= */
  /** ====================================================================== */
  /* line 868, src/scss/history.scss */
  table.matches-list {
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
    border-top: 1px solid #ddd; }
  /* line 875, src/scss/history.scss */
  table.matches-list tr.match-row:hover td.info {
    color: #666; }
  /* line 879, src/scss/history.scss */
  table.matches-list tr.match-row:hover td.score {
    color: #36a;
    font-weight: 400; }
  /* line 884, src/scss/history.scss */
  table.matches-list td {
    padding: 3px 10px;
    height: 50px; }
  /* line 889, src/scss/history.scss */
  table.matches-list td.info {
    width: 22%;
    color: #999; }
  /* line 894, src/scss/history.scss */
  table.matches-list td.left-team {
    width: 34%; }
  /* line 898, src/scss/history.scss */
  table.matches-list td.score {
    position: relative;
    width: 10%;
    text-align: center;
    font-weight: 300;
    overflow: visible; }
  /* line 906, src/scss/history.scss */
  table.matches-list td.score span.score {
    font-size: 26px; }
  /* line 910, src/scss/history.scss */
  table.matches-list td.score span.penalties {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 11px; }
  /* line 920, src/scss/history.scss */
  table.matches-list td.right-team {
    text-align: right;
    width: 34%; }
  /** =================================================  MATCHES-LIST TABLE  */
  /** ====================================================================== */
  /**  EVALUATIONS-LIST TABLE  ============================================= */
  /** ====================================================================== */
  /* line 934, src/scss/history.scss */
  table.evaluations-list {
    font-size: 12px; }
  /* line 938, src/scss/history.scss */
  table.evaluations-list tr.evaluation-row:hover td.info {
    color: #666; }
  /* line 942, src/scss/history.scss */
  table.evaluations-list tr.evaluation-row:hover td.score {
    color: #36a; }
  /* line 946, src/scss/history.scss */
  table.evaluations-list td {
    height: 30px; }
  /* line 950, src/scss/history.scss */
  table.evaluations-list td.info {
    color: #999;
    width: 22%; }
  /* line 955, src/scss/history.scss */
  table.evaluations-list td.title {
    text-transform: uppercase;
    width: 20%;
    font-size: 20px;
    color: #444; }
  /* line 962, src/scss/history.scss */
  table.evaluations-list td.score {
    padding-right: 30px;
    width: 15%;
    font-size: 20px;
    color: #444;
    text-align: right; }
  /* line 970, src/scss/history.scss */
  table.evaluations-list td.resources {
    width: 47%; }
  /* line 974, src/scss/history.scss */
  table.evaluations-list span.unit {
    font-size: 14px;
    color: #999; }
  /** =============================================  EVALUATIONS-LIST TABLE  */
  /** ====================================================================== */
  /**  GROUP-RANKING TABLE  ================================================ */
  /** ====================================================================== */
  /* line 988, src/scss/history.scss */
  table.group-ranking {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }
  /* line 994, src/scss/history.scss */
  table.group-ranking td {
    padding: 8px 10px;
    width: 6%;
    height: 50px; }
  /* line 1000, src/scss/history.scss */
  table.group-ranking td.spacer {
    width: 3%; }
  /* line 1004, src/scss/history.scss */
  table.group-ranking td.rank {
    text-align: right;
    width: 1%; }
  /* line 1009, src/scss/history.scss */
  table.group-ranking .team {
    width: 40%;
    text-align: left; }
  /* line 1014, src/scss/history.scss */
  table.group-ranking .goals-for,
  table.group-ranking .goals-against,
  table.group-ranking .goal-diff {
    text-align: right; }
  /* line 1020, src/scss/history.scss */
  table.group-ranking td small {
    color: #999;
    font-size: 16px; }
  /**  MATCHES SUBLIST TABLE  ---------------------------------------------- */
  /* line 1028, src/scss/history.scss */
  table.matches-sublist {
    border-top: none;
    margin-bottom: 0; }
  /* line 1033, src/scss/history.scss */
  table.matches-sublist td {
    height: 45px; }
  /* line 1037, src/scss/history.scss */
  table.matches-sublist div.team-name-box {
    font-size: 20px; }
  /** ================================================  GROUP-RANKING TABLE  */
  /** ====================================================================== */
  /**  SUBCHALLENGE-RANKING TABLE  ========================================= */
  /** ====================================================================== */
  /* line 1050, src/scss/history.scss */
  table.subchallenge-ranking {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }
  /* line 1056, src/scss/history.scss */
  table.subchallenge-ranking td {
    padding: 8px 10px;
    width: 6%;
    height: 50px; }
  /* line 1062, src/scss/history.scss */
  table.subchallenge-ranking td.spacer {
    width: 1%; }
  /* line 1066, src/scss/history.scss */
  table.subchallenge-ranking td.rank {
    text-align: right;
    width: 1%; }
  /* line 1071, src/scss/history.scss */
  table.subchallenge-ranking .team {
    width: 40%;
    text-align: left; }
  /* line 1076, src/scss/history.scss */
  table.subchallenge-ranking td.entry {
    font-size: 12px; }
  /* line 1080, src/scss/history.scss */
  table.subchallenge-ranking .evaluation {
    padding-left: 6px;
    padding-right: 6px;
    width: 1%; }
  /* line 1086, src/scss/history.scss */
  table.subchallenge-ranking td.evaluation {
    font-size: 16px; }
  /* line 1090, src/scss/history.scss */
  table.subchallenge-ranking td.evaluation span.evaluation-run {
    position: relative; }
  /* line 1094, src/scss/history.scss */
  table.subchallenge-ranking td.evaluation span.unit {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #999; }
  /* line 1103, src/scss/history.scss */
  table.subchallenge-ranking .total,
  table.subchallenge-ranking .avg {
    text-align: right; }
  /* line 1108, src/scss/history.scss */
  table.subchallenge-ranking td.evaluation span.ignore,
  table.subchallenge-ranking td span.notfound {
    color: #999; }
  /* line 1113, src/scss/history.scss */
  table.subchallenge-ranking div.paper-entry {
    border-bottom: 1px solid #ddd;
    padding: 10px; }
  /**  EVALUATIONS-SUBLIST TABLE  ------------------------------------------ */
  /* line 1121, src/scss/history.scss */
  table.evaluations-sublist {
    border-top: none;
    margin-bottom: 0; }
  /* line 1126, src/scss/history.scss */
  table.evaluations-sublist td {
    height: 30px; }
  /** =========================================  SUBCHALLENGE-RANKING TABLE  */
  /** ====================================================================== */
  /**  TEAM DETAILS  ======================================================= */
  /** ====================================================================== */
  /* line 1139, src/scss/history.scss */
  div.team-details {
    margin-bottom: 100px; }
  /* line 1143, src/scss/history.scss */
  div.team-details h3 {
    padding-top: 20px; }
  /**  TEAM TITLE TABLE  --------------------------------------------------- */
  /* line 1150, src/scss/history.scss */
  table.team-title-table td.team-name {
    background-color: #eee;
    text-align: center;
    height: 50px; }
  /* line 1156, src/scss/history.scss */
  table.team-title-table div.team-name-box {
    font-size: 32px; }
  /**  TEAM PROFILE TABLE  ------------------------------------------------- */
  /* line 1163, src/scss/history.scss */
  table.team-profile-table {
    margin-bottom: 30px;
    font-size: 14px; }
  /* line 1168, src/scss/history.scss */
  table.team-profile-table td {
    width: 80%;
    padding: 5px 5px;
    border: none;
    vertical-align: top; }
  /* line 1175, src/scss/history.scss */
  table.team-profile-table td.label {
    width: 20%;
    min-width: 100px; }
  /**  QUALIFICATION TABLE  ------------------------------------------------ */
  /* line 1183, src/scss/history.scss */
  table.qualification-table {
    margin-bottom: 30px;
    font-size: 14px; }
  /* line 1188, src/scss/history.scss */
  table.qualification-table td {
    padding: 10px 5px;
    border: none; }
  /* line 1193, src/scss/history.scss */
  table.qualification-table td.label {
    width: 10%;
    min-width: 100px; }
  /* line 1202, src/scss/history.scss */
  table.qualification-table a.stream-link img {
    width: 18px;
    height: 18px;
    margin-bottom: -6px; }
  /* line 1208, src/scss/history.scss */
  table.qualification-table a.stream-link img:hover {
    width: 16px;
    height: 16px;
    border: 1px solid transparent; }
  /**  TEAM LINEUP TABLE  -------------------------------------------------- */
  /* line 1217, src/scss/history.scss */
  table.team-lineup-table td.name {
    width: 30%; }
  /* line 1221, src/scss/history.scss */
  table.team-lineup-table td.number {
    width: 5%; }
  /* line 1225, src/scss/history.scss */
  table.team-lineup-table .appearances {
    width: 5%; }
  /** =======================================================  TEAM DETAILS  */
  /** ====================================================================== */
  /**  MATCH DETAILS  ====================================================== */
  /** ====================================================================== */
  /* line 1238, src/scss/history.scss */
  div.match-details {
    margin-bottom: 100px;
    color: #999; }
  /* line 1243, src/scss/history.scss */
  div.match-details a {
    color: #444;
    text-decoration: none; }
  /* line 1248, src/scss/history.scss */
  div.match-details a:hover {
    color: #36a; }
  /**  MATCH TITLE TABLE  -------------------------------------------------- */
  /* line 1255, src/scss/history.scss */
  table.match-title-table div.team-name-box {
    font-size: 22px; }
  /* line 1259, src/scss/history.scss */
  table.match-title-table td {
    padding: 10px;
    height: 20px;
    vertical-align: top;
    background-color: #eee; }
  /* line 1266, src/scss/history.scss */
  table.match-title-table ul {
    display: inline-block;
    text-align: left;
    font-size: 14px; }
  /* line 1272, src/scss/history.scss */
  table.match-title-table td.left-team {
    width: 45%; }
  /* line 1276, src/scss/history.scss */
  table.match-title-table td.left-team ul {
    margin-left: 50px; }
  /* line 1280, src/scss/history.scss */
  table.match-title-table td.score {
    position: relative;
    width: 10%;
    text-align: center;
    font-size: 26px;
    color: #36a; }
  /* line 1288, src/scss/history.scss */
  table.match-title-table td.score span.penalties {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;
    font-size: 11px; }
  /* line 1299, src/scss/history.scss */
  table.match-title-table td.right-team {
    width: 45%;
    text-align: right; }
  /* line 1304, src/scss/history.scss */
  table.match-title-table td.right-team ul {
    margin-right: 50px; }
  /**  MATCH RESOURCES TABLE  ---------------------------------------------- */
  /* line 1311, src/scss/history.scss */
  table.match-resources {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px; }
  /* line 1317, src/scss/history.scss */
  table.match-resources th {
    height: 10px;
    vertical-align: bottom; }
  /* line 1322, src/scss/history.scss */
  table.match-resources td {
    padding: 10px;
    vertical-align: top;
    border-bottom: none; }
  /* line 1328, src/scss/history.scss */
  table.match-resources td.players {
    width: 30%; }
  /* line 1332, src/scss/history.scss */
  table.match-resources td.players iframe {
    /*padding: 7px 0;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
    width: inherit;
    height: inherit;
    z-index: 10; }
  /* line 1344, src/scss/history.scss */
  table.match-resources td.files {
    padding-right: 0; }
  /* line 1348, src/scss/history.scss */
  table.match-resources td.files li {
    padding-bottom: 4px; }
  /* line 1352, src/scss/history.scss */
  table.match-resources a.stream-link img {
    width: 16px;
    height: 16px;
    margin-bottom: -5px; }
  /* line 1358, src/scss/history.scss */
  table.match-resources a.stream-link img:hover {
    width: 14px;
    height: 14px;
    border: 1px solid transparent; }
  /**  MATCH LINEUP TABLE  ------------------------------------------------- */
  /* line 1367, src/scss/history.scss */
  table.match-lineup-table td.number {
    width: 2%; }
  /* line 1371, src/scss/history.scss */
  table.match-lineup-table td.name {
    width: 18%; }
  /* line 1375, src/scss/history.scss */
  table.match-lineup-table td.events {
    width: 30%; }
  /* line 1379, src/scss/history.scss */
  table.match-lineup-table th.substitude {
    padding-top: 15px;
    text-align: center; }
  /** ======================================================  MATCH DETAILS  */
  /** ====================================================================== */
  /**  OVERLAYS  =========================================================== */
  /** ====================================================================== */
  /* line 1405, src/scss/history.scss */
  div.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden; }
  /* line 1423, src/scss/history.scss */
  div.overlay > div {
    position: relative;
    margin: 2.5vh auto;
    max-width: 876px;
    /*max-width: 911px;*/
    background-color: white;
    border: 1px solid #888;
    /*box-shadow: 0px 0px 20px 5px #999;*/
    height: 95%;
    box-sizing: border-box; }
  /* line 1436, src/scss/history.scss */
  div.overlay div.scrollableInY {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto; }
  /* line 1443, src/scss/history.scss */
  div.overlay input[type='button'].overlayCloseBtn {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 2;
    color: grey;
    font-weight: bold;
    font-size: 22px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #555;
    background: white;
    cursor: pointer; }
  /* line 1463, src/scss/history.scss */
  div.overlay input[type='button'].overlayCloseBtn:hover {
    color: #36a;
    background-color: #eee; }
  /* line 1468, src/scss/history.scss */
  div.overlay div.inner-overlay-content {
    padding: 0 10px; }
  /** ===========================================================  OVERLAYS  */
  /** ====================================================================== */
  /**  COLLAPSABLE TABLE CELLS  ============================================ */
  /** ====================================================================== */
  /* line 1481, src/scss/history.scss */
  tr > td.collapsable {
    padding: 0;
    border: none;
    display: none;
    text-align: left; }
  /** ============================================  COLLAPSABLE TABLE CELLS  */ }

/** ========================================================================================== */
/** ========================================================================================== */
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :END:  @media screen  :END: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/** ========================================================================================== */
/** ========================================================================================== */
/** ========================================================================================== */
/** ========================================================================================== */
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!! :BEGIN:  @media  print  :BEGIN: !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/** ========================================================================================== */
/** ========================================================================================== */
@media print {
  /* line 1525, src/scss/history.scss */
  body {
    font-family: "Trebuchet MS", serif; } }

/** ========================================================================================== */
/** ========================================================================================== */
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :END:  @media  print  :END: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/** ========================================================================================== */
/** ========================================================================================== */
