<h1 style="text-align: center;">RoboCup Soccer - Standard Platform League</h1>
<p style="text-align: center;">
<a href="http://wiki.robocup.org/Standard_Platform_League">RoboCup Wiki</a> -
<a href="http://www.informatik.uni-bremen.de/spl/bin/view/Website/WebHome">League Website</a>
</p>