<h1 style="text-align: center;">RoboCup Soccer - 3D Simulation League</h1>
<p style="text-align: center;">
  <a href="http://wiki.robocup.org/Soccer_Simulation_League#3D_Simulation_League">RoboCup Wiki</a>
</p>