<h1 style="text-align: center;">RoboCup Soccer - Humanoid League</h1>
<p style="text-align: center;">
  <a href="http://wiki.robocup.org/Humanoid_League">RoboCup Wiki</a> -
  <a href="http://www.robocuphumanoids.org">League Website</a>
</p>