<h1 style="text-align: center;">Welcome to the robocup.info archive!</h1>
<p style="text-align: center;">This archive provides an as complete as possible collection of results and resources from previous RoboCup events around the world. For more information about this archive please take a look at the <a href="https://wiki/robocup.info/wiki/en:archive">archive</a> section in the robocup.info wiki.
<br/>
The archive is accompanied by the <a href="https://gitlab.com/robocup.info/robocup-history">RoboCup history project</a>, aiming to provide a common xml structure for storing competitions and their results in a human and machine readable format.
</p>
<p style="text-align: center;">
<strong>FTP Access</strong>: <a href="ftp://robocup.info">ftp://robocup.info</a>
</p>