/** *******************************************************
                 Tournament CSS Stylesheed

The default CSS Stylesheet for tournaments.

Authors:
  * Stefan Glaser

******************************************************** */



@media all {
  div.table {
    display: table;
    /*border: 1px solid black;*/
  }

  div.t-cap {
    display: table-caption;
  }

  div.t-cell {
    display: table-cell;
    vertical-align: top;
  }

  div.t-col {
    display: table-column;
  }

  div.t-row {
    display: table-row;
  }

  div.t-row-grp {
    display: table-row-group;
  }

  div.t-col-grp {
    display: table-column-group;
  }

  div.t-foot-grp {
    display: table-footer-group;
  }

  div.t-head-grp {
    display: table-header-group;
  }

  div.w100 { width: 100%; }
  div.w80 { width: 80%; }
  div.w75 { width: 75%; }
  div.w66 { width: 66%; }
  div.w60 { width: 60%; }
  div.w50 { width: 50%; }
  div.w40 { width: 40%; }
  div.w35 { width: 35%; }
  div.w33 { width: 33%; }
  div.w25 { width: 25%; }
  div.w20 { width: 20%; }
  div.w15 { width: 15%; }
  div.w10 { width: 10%; }
}




@media screen {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif;

    font-size: 12px;
    color: #444;

    background: linear-gradient(#182, rgba(17, 136, 34, 0.2), white);
    background: linear-gradient(rgba(17, 136, 34, 0.2), white);
    background: linear-gradient(rgba(32, 64, 196, 0.2), white);
    background: linear-gradient(rgba(64, 96, 196, 0.2), white);
    background-size: 100% 600px;
    background-repeat: no-repeat;
  }

  abbr {
    cursor: help;
  }

  h1 {
    padding: 15px 0;
    font-size: 34px;
    font-weight: 300;
  }

  h2 {
    padding: 15px 0;
    font-size: 26px;
    font-weight: 300;
  }

  h3 {
    padding: 10px 0;
    font-size: 22px;
    font-weight: 300;
  }

  h4 {
    padding: 5px 0;
    font-size: 15px;
    color: #888;
    font-weight: normal;
  }

  img.country-icon {
    border: 1px solid #ccc;
    vertical-align: middle;
  }

  table {
    border-spacing: 0;
  }

  ul {
    list-style: none;
  }

  td.label {
    text-align: right;
    vertical-align: top;
    color: #999;
  }

  div.notfound {
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
  }








  /** ====================================================================== */
  /**  SECTIONS  =========================================================== */
  /** ====================================================================== */
  #top,
  #teams,
  #competitions,
  #challenges,
  #awards,
  #appendix,
  #footer {
    width: 100%;
  }

  #footer {
    border-top: 1px solid #999;
    background-color: #29a;
    background-color: rgba(64, 96, 196, 0.2);
    min-height: 200px;
  }

  div.content-box {
    margin: 0 auto;
    width: 1024px;
    box-sizing: border-box;
    background-color: white;
  }

  #teams div.content-box {
    padding: 5px;
  }

  div.section-spacer {
    height: 100px;
  }

  div.subsection-spacer {
    height: 30px;
  }

  div.match-details-box {
    margin: 80px auto 120px auto;
    width: 1024px;
    background-color: white;
  }

  div.team-details-box {
    margin: 80px auto 120px auto;
    width: 800px;
    width: 1024px;
    background-color: white;
  }
  /** ===========================================================  SECTIONS  */


















  /** ====================================================================== */
  /**  TEAM-NAME-BOX  ====================================================== */
  /** ====================================================================== */
  div.team-name-box {
    display: inline-block;
    font-size: 22px;
    color: #444;
  }

  div.team-name-box a,
  div.team-name-box span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 38px;
  }

  div.team-name-box img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }

  div.team-name-box a:hover,
  div.team-details-link:hover {
    cursor: pointer;
    color: #36a;
  }

  div.team-name-box a:hover img.country-icon,
  div.team-details-link:hover img.country-icon {
    border: 1px solid #aaa;
  }


  td.right-team div.team-name-box img {
    left: auto;
    right: 0px;
  }

  td.right-team div.team-name-box a,
  td.right-team div.team-name-box span {
    padding-left: 0px;
    padding-right: 38px;
  }
  /** ======================================================  TEAM-NAME-BOX  */






  /** ====================================================================== */
  /**  MAIN TABLE  ========================================================= */
  /** ====================================================================== */
  table.main-table {
    width: 100%;
    background-color: white;
    color: #444;
    font-size: 12px;
  }

  table.main-table a {
    text-decoration: none;
    color: #444;
  }

  table.main-table a:hover {
    color: #36a;
  }

  table.main-table tr {
    position: relative;
  }

  table.main-table th {
    padding: 5px 10px 2px 10px;

    border-bottom: 1px solid #ddd;

    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
  }

  table.main-table td {
    padding: 6px 10px;

    border-bottom: 1px solid #ddd;
  }

  table.main-table tr>td:first-of-type,
  table.main-table tr>th:first-of-type {
    position: static;
  }

  table.main-table tr.hover:hover {
    background-color: #eee;
  }

  table.main-table tr.expandable:hover,
  table.main-table tr.details-link:hover {
    background-color: #eee;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
  }

  table.main-table div.expandable-arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 40px;
    height: 10px;
    background: url("../img/expandable-arrow.svg") top left no-repeat;
    background-size: 40px 10px;
    display: none;
    z-index: 2;
  }

  table.main-table tr.expandable:hover div.expandable-arrow {
    display: block;
  }


  /**  RESOURCE SUBTABLE  -------------------------------------------------- */
  table.main-table table.resource-subtable td {
    padding: 1px 2px;
    border: none;
    height: 10px;
  }

  table.main-table table.resource-subtable td a {
    padding: 0;
  }

  table.main-table table.resource-subtable td.label {
    width: 45px;
    min-width: 45px;
  }

  table.main-table table.resource-subtable td.resource {
    width: 99%;
  }
  /** =========================================================  MAIN TABLE  */






  /** ====================================================================== */
  /**  TABLE HELPER  ======================================================= */
  /** ====================================================================== */
  table.noOuterPadding>tbody>tr>th:first-of-type,
  table.noOuterPadding>tbody>tr>td:first-of-type,
  table.noOuterPadding>tr>th:first-of-type,
  table.noOuterPadding>tr>td:first-of-type {
    padding-left: 0;
  }

  table.noOuterPadding>tbody>tr>th:last-of-type,
  table.noOuterPadding>tbody>tr>td:last-of-type,
  table.noOuterPadding>tr>th:last-of-type,
  table.noOuterPadding>tr>td:last-of-type {
    padding-right: 0;
  }
  /** =======================================================  TABLE HELPER  */






  /** ====================================================================== */
  /**  RANKING STAIRS TABLE  =============================================== */
  /** ====================================================================== */
  table.stairs {
    margin: 40px auto 0 auto;
    border: none;
    text-align: center;
    width: 100%;
    background-color: white;
  }

  table.stairs td {
    padding: 10px 0;
    width: 33%;
    border: 1px solid white;
  }

  table.stairs td.medal {
    vertical-align: bottom;
    padding: 40px 0 80px 0;
  }

  table.stairs td.medal img {
    border: none;
  }

  table.stairs td.solid {
    vertical-align: top;
    padding: 10px 0 50px 0;
    background-color: #ddd;
    font-size: 18px;
    font-weight: bold;
  }

  table.stairs td.ranking > div {
    display: inline-block;
    margin: 20px auto;
    text-align: left;
    font-size: 16px;
  }

  table.stairs div.rank {
    padding: 8px 0;
  }

  table.stairs span.rank {
    font-weight: bold;
    padding-right: 10px;
  }
  /** ===============================================  RANKING STAIRS TABLE  */






  /** ====================================================================== */
  /**  SIMPLE RANKING  ===================================================== */
  /** ====================================================================== */
  table.ranking {
    font-size: 16px;
    text-align: left;
    margin: 0 auto 30px auto;
    width: 10%;
  }

  table.ranking td {
    position: relative;
    padding: 8px 10px;
    height: 30px;
    white-space: nowrap;
  }

  table.ranking td.rank {
    width: 1%;
    text-align: right;
    font-weight: bold;
  }
  /** =====================================================  SIMPLE RANKING  */






  /** ====================================================================== */
  /**  PAPER ENTRY  ======================================================== */
  /** ====================================================================== */
  div.paper-entry {
    font-size: 12px;
  }

  div.paper-entry h5 {
    padding: 0;
    font-weight: normal;
    font-size: 16px;
  }

  div.paper-entry h6 {
    padding-top: 10px;
    font-weight: normal;
    font-size: 13px;
  }

  div.paper-entry span.by-line {
    display: block;
    margin-top: 1px;
    margin-left: 8px;
  }

  div.paper-entry p.abstract {
    padding: 5px 0;
    line-height: 1.5;
    color: #666;
  }
  /** ========================================================  PAPER ENTRY  */






  /** ====================================================================== */
  /**  LINEUP TABLE  ======================================================= */
  /** ====================================================================== */
  table.lineup-table {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left;
  }

  table.lineup-table td {
    padding: 5px 10px;
  }

  table.lineup-table td.name {
    text-transform: uppercase;
  }

  table.lineup-table td.number {
    text-align: right;
  }

  table.lineup-table .appearances {
    text-align: right;
  }
  /** =======================================================  LINEUP TABLE  */






  /** ====================================================================== */
  /**  EMBEDDED BOX  ======================================================= */
  /** ====================================================================== */
  div.embedded-box {
    width: 100%;
    margin-top: -5px;
    margin-bottom: 5px;
    width: 640px;
  }

  div.embedded-box select {
    display: inline-block;
  }

  div.embedded-box select.video {
    width: 80%;
  }

  div.embedded-box select.stream {
    width: 20%;
  }

  div.embedded-box div.stream-frame {
    position: relative;
    width: 640px;
    height: 360px;
  }
  /** =======================================================  EMBEDDED BOX  */















  /** ====================================================================== */
  /**  TOP-LINK  =========================================================== */
  /** ====================================================================== */
  #top-link {
    display: block;
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 40px;
    height: 30px;

    z-index: 10;

    background: url("../img/top-arrow.svg") top left no-repeat;
    background-position: 5px 5px;
    background-size: 30px 20px;
  }

  #top-link:hover {
    background-position: 0 0;
    background-size: 40px 30px;
  }
  /** ===========================================================  TOP-LINK  */






  /** ====================================================================== */
  /**  TITLE SECTION  ====================================================== */
  /** ====================================================================== */
  div.title-box {
    background-color: white;
    padding: 10px 0;
  }

  div.title-box h1 {
    padding: 0;
  }

  div.title-box div.title {
    margin: 0 auto;
    width: 1024px;
  }

  h1.trn-title {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  h1.trn-title a {
    font-size: 27px;
    line-height: 1.2;
    font-weight: 300;
    color: #444;
    text-decoration: none;
  }

  span.league-title {
    display: block;
    font-size: 21px;
  }

  span.trn-date {
    display: block;
    font-size: 12px;
  }

  div.title div.venue {
    max-width: 30%;
    font-weight: 300;
    vertical-align: middle;
  }

  div.title span.venue-name {
    font-size: 18px;
  }
  /** ======================================================  TITLE SECTION  */






  /** ====================================================================== */
  /**  PAGE NAVIGATION  ==================================================== */
  /** ====================================================================== */
  div.navi-wrap {
    position: relative;
    margin-bottom: 100px;
  }

  div.navi-box {
    position: absolute;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0 0 50px 0;
    box-sizing: border-box;


    color: #36a;
    background-color: white;

    max-height: 50px;
    overflow: hidden;
    transition: 0.4s;
  }

  div.navi-box:hover {
    max-height: 150px;
    background-color: #5c5;
    background-color: #eee;
  }

  div.navi-box a {
    color: #36a;
    color: #148;
    font-size: 13px;
    text-decoration: none;
  }

  div.navi-box a:hover {
    color: #36a;
  }

  div.navi-box>ul {
    margin: 0 auto;
    width: 1024px;
  }

  ul.navigation>li {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }

  ul.navigation>li:hover {
    /*background-color: #eee;*/
  }

  ul.navigation>li>ul {
    margin-left: 20px;
  }

  ul.navigation>li>ul>li {
    padding: 3px 10px;
  }

  ul.navigation>li>a {
    display: block;
    padding: 16px 16px;

    font-size: 14px;
  }

  ul.navigation>li:hover>ul {
    display: block;
  }
  /** ====================================================  PAGE NAVIGATION  */






  /** ====================================================================== */
  /**  FOOTER SECTION  ===================================================== */
  /** ====================================================================== */
  #footer div.content-box {
    margin: 20px auto 0 auto;
    background-color: transparent;
    padding-bottom: 60px;
  }

  #footer a {
    color: #444;
    text-decoration: none;
  }

  #footer a:hover {
    color: #03a;
  }


  table.tournament-details {
    width: 100%;
    font-size: 14px;
  }

  table.tournament-details td {
    padding: 3px 3px;
  }

  table.tournament-details td.spacer {
    width: 10%;
  }

  table.tournament-details td.oc span {
    color: #666;
    font-size: 16px;
  }

  table.tournament-details td.oc ul {
    margin: 3px 0 15px 15px;
  }

  table.tournament-details td.label {
    color: #666;
  }
  /** =====================================================  FOOTER SECTION  */


















  /** ====================================================================== */
  /**  TEAMS TABLE  ======================================================== */
  /** ====================================================================== */
  table.team-table {
    text-align: left;
    margin-bottom: 30px;
    color: #999;
  }

  table.team-table td {
    padding: 3px 10px;
    height: 40px;
  }

  table.team-table .team {
    width: 38%;
  }

  table.team-table .team div.team-name-box {
    display: block;
  }

  table.team-table .contact {
    width: 16%;
  }

  table.team-table .qualification {
    width: 35%;
  }

  table.team-table .status {
    width: 11%;
  }
  /** ========================================================  TEAMS TABLE  */






  /** ====================================================================== */
  /**  MATCHES-LIST TABLE  ================================================= */
  /** ====================================================================== */
  table.matches-list {
    width: 100%;
    font-size: 12px;
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
  }

  table.matches-list tr.match-row:hover td.info {
    color: #666;
  }

  table.matches-list tr.match-row:hover td.score {
    color: #36a;
    font-weight: 400;
  }

  table.matches-list td {
    padding: 3px 10px;
    height: 50px;
  }

  table.matches-list td.info {
    width: 22%;
    color: #999;
  }

  table.matches-list td.left-team {
    width: 34%;
  }

  table.matches-list td.score {
    position: relative;
    width: 10%;
    text-align: center;
    font-weight: 300;
    overflow: visible;
  }

  table.matches-list td.score span.score {
    font-size: 26px;
  }

  table.matches-list td.score span.penalties {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    font-size: 11px;
  }

  table.matches-list td.right-team {
    text-align: right;
    width: 34%;
  }
  /** =================================================  MATCHES-LIST TABLE  */






  /** ====================================================================== */
  /**  EVALUATIONS-LIST TABLE  ============================================= */
  /** ====================================================================== */
  table.evaluations-list {
    font-size: 12px;
  }

  table.evaluations-list tr.evaluation-row:hover td.info {
    color: #666;
  }

  table.evaluations-list tr.evaluation-row:hover td.score {
    color: #36a;
  }

  table.evaluations-list td {
    height: 30px;
  }

  table.evaluations-list td.info {
    color: #999;
    width: 22%;
  }

  table.evaluations-list td.title {
    text-transform: uppercase;
    width: 20%;
    font-size: 20px;
    color: #444;
  }

  table.evaluations-list td.score {
    padding-right: 30px;
    width: 15%;
    font-size: 20px;
    color: #444;
    text-align: right;
  }

  table.evaluations-list td.resources {
    width: 47%;
  }

  table.evaluations-list span.unit {
    font-size: 14px;
    color: #999;
  }
  /** =============================================  EVALUATIONS-LIST TABLE  */






  /** ====================================================================== */
  /**  GROUP-RANKING TABLE  ================================================ */
  /** ====================================================================== */
  table.group-ranking {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  table.group-ranking td {
    padding: 8px 10px;
    width: 6%;
    height: 50px;
  }

  table.group-ranking td.spacer {
    width: 3%;
  }

  table.group-ranking td.rank {
    text-align: right;
    width: 1%;
  }

  table.group-ranking .team {
    width: 40%;
    text-align: left;
  }

  table.group-ranking .goals-for,
  table.group-ranking .goals-against,
  table.group-ranking .goal-diff {
    text-align: right;
  }

  table.group-ranking td small {
    color: #999;
    font-size: 16px;
  }



  /**  MATCHES SUBLIST TABLE  ---------------------------------------------- */
  table.matches-sublist {
    border-top: none;
    margin-bottom: 0;
  }

  table.matches-sublist td {
    height: 45px;
  }

  table.matches-sublist div.team-name-box {
    font-size: 20px;
  }
  /** ================================================  GROUP-RANKING TABLE  */






  /** ====================================================================== */
  /**  SUBCHALLENGE-RANKING TABLE  ========================================= */
  /** ====================================================================== */
  table.subchallenge-ranking {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  table.subchallenge-ranking td {
    padding: 8px 10px;
    width: 6%;
    height: 50px;
  }

  table.subchallenge-ranking td.spacer {
    width: 1%;
  }

  table.subchallenge-ranking td.rank {
    text-align: right;
    width: 1%;
  }

  table.subchallenge-ranking .team {
    width: 40%;
    text-align: left;
  }

  table.subchallenge-ranking td.entry {
    font-size: 12px;
  }

  table.subchallenge-ranking .evaluation {
    padding-left: 6px;
    padding-right: 6px;
    width: 1%;
  }

  table.subchallenge-ranking td.evaluation {
    font-size: 16px;
  }

  table.subchallenge-ranking td.evaluation span.evaluation-run {
    position: relative;
  }

  table.subchallenge-ranking td.evaluation span.unit {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #999;
  }

  table.subchallenge-ranking .total,
  table.subchallenge-ranking .avg {
    text-align: right;
  }

  table.subchallenge-ranking td.evaluation span.ignore,
  table.subchallenge-ranking td span.notfound {
    color: #999;
  }

  table.subchallenge-ranking div.paper-entry {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }



  /**  EVALUATIONS-SUBLIST TABLE  ------------------------------------------ */
  table.evaluations-sublist {
    border-top: none;
    margin-bottom: 0;
  }

  table.evaluations-sublist td {
    height: 30px;
  }
  /** =========================================  SUBCHALLENGE-RANKING TABLE  */






  /** ====================================================================== */
  /**  TEAM DETAILS  ======================================================= */
  /** ====================================================================== */
  div.team-details {
    margin-bottom: 100px;
  }

  div.team-details h3 {
    padding-top: 20px;
  }



  /**  TEAM TITLE TABLE  --------------------------------------------------- */
  table.team-title-table td.team-name {
    background-color: #eee;
    text-align: center;
    height: 50px;
  }

  table.team-title-table div.team-name-box {
    font-size: 32px;
  }



  /**  TEAM PROFILE TABLE  ------------------------------------------------- */
  table.team-profile-table {
    margin-bottom: 30px;
    font-size: 14px;
  }

  table.team-profile-table td {
    width: 80%;
    padding: 5px 5px;
    border: none;
    vertical-align: top;
  }

  table.team-profile-table td.label {
    width: 20%;
    min-width: 100px;
  }



  /**  QUALIFICATION TABLE  ------------------------------------------------ */
  table.qualification-table {
    margin-bottom: 30px;
    font-size: 14px;
  }

  table.qualification-table td {
    padding: 10px 5px;
    border: none;
  }

  table.qualification-table td.label {
    width: 10%;
    min-width: 100px;
  }

  table.qualification-table iframe {

  }

  table.qualification-table a.stream-link img {
    width: 18px;
    height: 18px;
    margin-bottom: -6px;
  }

  table.qualification-table a.stream-link img:hover {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
  }



  /**  TEAM LINEUP TABLE  -------------------------------------------------- */
  table.team-lineup-table td.name {
    width: 30%;
  }

  table.team-lineup-table td.number {
    width: 5%;
  }

  table.team-lineup-table .appearances {
    width: 5%;
  }
  /** =======================================================  TEAM DETAILS  */






  /** ====================================================================== */
  /**  MATCH DETAILS  ====================================================== */
  /** ====================================================================== */
  div.match-details {
    margin-bottom: 100px;
    color: #999;
  }

  div.match-details a {
    color: #444;
    text-decoration: none;
  }

  div.match-details a:hover {
    color: #36a;
  }



  /**  MATCH TITLE TABLE  -------------------------------------------------- */
  table.match-title-table div.team-name-box {
    font-size: 22px;
  }

  table.match-title-table td {
    padding: 10px;
    height: 20px;
    vertical-align: top;
    background-color: #eee;
  }

  table.match-title-table ul {
    display: inline-block;
    text-align: left;
    font-size: 14px;
  }

  table.match-title-table td.left-team {
    width: 45%;
  }

  table.match-title-table td.left-team ul {
    margin-left: 50px;
  }

  table.match-title-table td.score {
    position: relative;
    width: 10%;
    text-align: center;
    font-size: 26px;
    color: #36a;
  }

  table.match-title-table td.score span.penalties {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 2;

    font-size: 11px;
  }

  table.match-title-table td.right-team {
    width: 45%;
    text-align: right;
  }

  table.match-title-table td.right-team ul {
    margin-right: 50px;
  }



  /**  MATCH RESOURCES TABLE  ---------------------------------------------- */
  table.match-resources {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  table.match-resources th {
    height: 10px;
    vertical-align: bottom;
  }

  table.match-resources td {
    padding: 10px;
    vertical-align: top;
    border-bottom: none;
  }

  table.match-resources td.players {
    width: 30%;
  }

  table.match-resources td.players iframe {
    /*padding: 7px 0;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 360px;
    width: inherit;
    height: inherit;
    z-index: 10;
  }

  table.match-resources td.files {
    padding-right: 0;
  }

  table.match-resources td.files li {
    padding-bottom: 4px;
  }

  table.match-resources a.stream-link img {
    width: 16px;
    height: 16px;
    margin-bottom: -5px;
  }

  table.match-resources a.stream-link img:hover {
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
  }



  /**  MATCH LINEUP TABLE  ------------------------------------------------- */
  table.match-lineup-table td.number {
    width: 2%;
  }

  table.match-lineup-table td.name {
    width: 18%;
  }

  table.match-lineup-table td.events {
    width: 30%;
  }

  table.match-lineup-table th.substitude {
    padding-top: 15px;
    text-align: center;
  }
  /** ======================================================  MATCH DETAILS  */


















  /** ====================================================================== */
  /**  OVERLAYS  =========================================================== */
  /** ====================================================================== */
  div.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    z-index: 20;

    background-color: rgba(0,0,0, 0.5);
    overflow-y: hidden;
  }

  div.overlay > div {
    position: relative;
    margin: 2.5vh auto;
    max-width: 876px;
    /*max-width: 911px;*/
    background-color: white;
    border: 1px solid #888;
    /*box-shadow: 0px 0px 20px 5px #999;*/
    height: 95%;

    box-sizing: border-box;
  }

  div.overlay div.scrollableInY {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  div.overlay input[type = 'button'].overlayCloseBtn {
    position: absolute;
    top: 2px;
    right: 2px;

    z-index: 2;

    color: grey;
    font-weight: bold;
    font-size: 22px;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #555;
    background: white;

    cursor: pointer;
  }

  div.overlay input[type = 'button'].overlayCloseBtn:hover {
    color: #36a;
    background-color: #eee;
  }

  div.overlay div.inner-overlay-content {
    padding: 0 10px;
  }
  /** ===========================================================  OVERLAYS  */






  /** ====================================================================== */
  /**  COLLAPSABLE TABLE CELLS  ============================================ */
  /** ====================================================================== */
  tr > td.collapsable {
    padding: 0;
    border: none;
    display: none;
    text-align: left;
  }
  /** ============================================  COLLAPSABLE TABLE CELLS  */

}
/** ========================================================================================== */
/** ========================================================================================== */
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :END:  @media screen  :END: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/** ========================================================================================== */
/** ========================================================================================== */
























/** ========================================================================================== */
/** ========================================================================================== */
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!! :BEGIN:  @media  print  :BEGIN: !!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/** ========================================================================================== */
/** ========================================================================================== */
@media print {
  body {
    font-family: "Trebuchet MS", serif;
  }
}
/** ========================================================================================== */
/** ========================================================================================== */
/** !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! :END:  @media  print  :END: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/** ========================================================================================== */
/** ========================================================================================== */
